<header class="header gray-header">
    <div class="header-top">
        <div class="wrapper">
            <div class="header-top-left">
                <a href="tel:+380931331334" class="info-link"><img src="./images/tel-i.svg" alt="img"> +38 093 133 133 4</a>
                <p>Пн-Сб с 8:00 до 20:00</p>
            </div>
            <div class="header-top-right">
                <nav>
                    <a href="about.html">О нас</a>
                    <a href="blog.html">Блог</a>
                    <a href="contacts.html">Контакты</a>
                </nav>
                <a href="#" class="callback-tirger call-popup" data-popup="callbackPopup">Обратный звонок</a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrapper">
            <a href="#" class="menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <a href="index.html" class="logo"><img src="./images/logo.svg" alt="logo"></a>
            <a href="#" class="logo-s"><img src="./images/logo-s.svg" alt="logo"></a>
            <div class="header-bottom-links">
                <a href="#"><img src="./images/ii-1.svg" alt="img"> Тормозные диски</a>
                <a href="#"><img src="./images/ii-2.svg" alt="img"> Тормозные колодки</a>
            </div>
            <div class="header-bottom-right">
                <a href="tel:+380931331334" class="info-link"><img src="./images/tel-i.svg" alt="img"></a>
                <a class="search-i" href="search.html"><img src="./images/search.svg" alt="img"></a>
                <a class="cart" href="cart.html">
                    <img src="./images/cart.svg" alt="img">
                    <span>0</span>
                </a>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="wrapper">
            <div class="header-menu-row header-links-row">
                <a href="#"><img src="./images/ii-1.svg" alt="img"> Тормозные диски</a>
                <a href="#"><img src="./images/ii-2.svg" alt="img"> Тормозные колодки</a>
            </div>
            <div class="header-menu-row header-nav-row">
                <a href="about.html">О нас</a>
                <a href="blog.html">Блог</a>
                <a href="contacts.html">Контакты</a>
            </div>
            <div class="header-menu-row header-bottom-row">
                <a class="header-phone" href="tel:+380931331334">+38 093 133 133 4</a>
                <p>Пн-Сб с 8:00 до 20:00</p>
                <a href="#" class="callback-tirger call-popup" data-popup="callbackPopup">Обратный звонок</a>
            </div>
        </div>
    </div>
</header>