<div id="callbackPopup" class="popup-wrapper modal">
    <div class="popup-layout">
        <div class="popup">
            <div class="popup-cnt-wrap">
                <div class="popup-cnt">
                    <div class="popup-cnt-form">
                        <div class="form-title"><span>Оставить заявку</span></div>
                        <form class="form" data-toggle="validator">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Ваше имя" required>
                            </div>
                            <div class="form-group">
                              <input type="tel" class="form-control" placeholder="Ваш телефон" required>
                            </div>
                            <button type="submit" class="btn btn-line"><span>Оставить заявку</span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="popup-bg"><img src="./images/popup-img.png" alt="images"></div>
            <div class="popup-close"><img src="./images/close-btn.svg" alt="close"></div>
        </div>
    </div>
</div>
<div id="thanksPopup" class="popup-wrapper">
    <div class="popup-layout">
        <div class="popup popup-thanks">
            <div class="popup-cnt-wrap">
                <div class="popup-cnt">
                    <div class="popup-thanks-img">
                        <img src="./images/thanks.svg" alt="thanks">
                    </div>
                    <div class="form-title"><span>Спасибо ваша заявка принята</span></div>
                </div>
            </div>
            <div class="popup-bg"><img src="./images/popup-img.png" alt="images"></div>
            <div class="popup-close"><img src="./images/close-btn.svg" alt="close"></div>
        </div>
    </div>
</div>