html, body {
    height: 100%;
    &.hidden {overflow: hidden;}
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    &-content {flex: 1 0 auto;}
    & footer {flex: 0 0 auto;}
    &-page {
        background-image: url('../images/main-bg.png');
        background-repeat: no-repeat;
        background-position: top 142px left 16px;
        @media (max-width: 1100px) {
            background: none;
        }
        &-2 {
            padding-top: 130px;
            background-image: url('../images/pages-bg.png');
            background-repeat: no-repeat;
            background-position: top 245px left 62px;
            @media (max-width: 1100px) {
                background: none;
            }
            @media (max-width: 1024px) {
                padding-top: 115px;
            }
            @media (max-width: 767px) {
                padding-top: 60px;
            }
        }
    }
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    &-l {
        max-width: 1920px;
    }
    @media (max-width: 767px) {
        padding: 0 8px;
    }
}

.title-el {
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        position: relative;
        margin-bottom: 60px;
        padding-left: 80px;
        font-family: 'Gilroy Medium';
        font-weight: 500;
        font-size: 44px;
        line-height: 52px;
        text-align: center;
        color: #353535;
        @media (max-width: 1100px) {
            margin-bottom: 55px;
            padding-left: 60px;
            font-size: 38px;
            line-height: 45px;
        }
        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 3px);
            left: 0;
            display: block;
            width: 60px;
            height: 6px;
            background-color: #A50000;
            @media (max-width: 767px) {
                width: 40px;
            }
        }
    }
    &-center{
        &2 {
            justify-content: flex-start;
            @media (max-width: 1100px) {
                justify-content: center;
                & span {
                    padding-left: 0;
                    padding-top: 26px;
                    text-align: center;
                    &::before {
                        top: 0;
                        left: calc(50% - 20px);
                        width: 40px;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            & span {
                display: inline-block;
                padding-left: 0;
                padding-top: 26px;
                &::before {
                    top: 0;
                    left: calc(50% - 20px);
                }
            }
        }
    }
}

.text-section {
    padding: 100px 0 100px;
    font-family: 'Gilroy Regular';
    font-size: 18px;
    line-height: 18px;
    color: #353535;
    @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
    }
    & p {
        &:not(:last-child) {margin-bottom: 18px;}
    }
    & b {
        display: block;
        margin-bottom: 10px;
        font-family: 'Gilroy Bold';
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

.tabs {
    &-block {
        & .tab-cnt {
            display: none;
            &.active {display: block;}
        }
    }
    &-section {
        display: flex;
        align-items: center;
        justify-content: center;
        &-wrap {
            margin-bottom: 60px;
        }
        & > a {
            padding: 0 15px;
            width: 100%;
            max-width: 220px;
            background-color: #ffffff;
            border: 1.5px solid #353535;
            & span {
                color: #000000;
                @media (max-width: 767px) {
                    max-height: 48px !important;
                }
            }
            &:hover {
                border: 1.5px solid #A50000;
                & span {
                    color: #ffffff;
                }
            }
            &.active {
                background-color: #A50000;
                border: 1.5px solid #A50000;
                & span {
                    color: #ffffff;
                }
            }
            &:not(:last-child) {
                margin-right: 30px; 
                @media (max-width: 767px) {
                    margin-right: 20px; 
                }
            }
        }
    }
}

.breadcrumbs {
    padding: 30px 0 50px;
    @media (max-width: 767px) {
        padding: 26px 0 48px;
    }
    & .wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row wrap;
        & a {
            font-family: 'Gilroy SemiBold';
            font-size: 16px;
            line-height: 20px;
            color: #A2A2A2;
            transition: 0.3s ease;
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
            }
            &:hover {color: #A50000;}
        }
        & span {
            display: inline-block;
            margin: 0 10px;
            font-family: 'Gilroy Heavy';
            font-size: 16px;
            line-height: 20px;
            color: #A50000;
        }
        & p {
            font-family: 'Gilroy Bold';
            font-size: 16px;
            line-height: 20px;
            color: #353535;
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.radio {
    &-wrap {
        &:not(:last-child) {margin-bottom: 30px;}
    }
    &-el {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &:not(:last-child) {margin-bottom: 10px;}
        &-trigger {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 8px;
            background: #FFFFFF;
            border-radius: 3px;
            transition: 0.3s ease;
            & svg {
                max-width: 6px;
                opacity: 0;
                transition: 0.3s ease;
            }
        }
        &-text {
            position: relative;
            padding-left: 18px;
            font-family: 'Gilroy Regular';
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            &::before {
                content: '';
                position: absolute;
                top: calc(50% - 5px);
                left: 0;
                display: block;
                width: 10px;
                min-width: 10px;
                height: 10px;
                border: 1px solid #C4C4C4;
                background-repeat: no-repeat;
                background-size: 6px;
                background-position: center;
                border-radius: 3px;
                transition: 0.3s ease;
            }
        }
        & input {
            display: none;
            &:checked + .radio-el-text{
                &::before {
                    border: 1px solid #A50000;
                    background-image: url('../images/circle3.svg');
                }
            }
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top: 60px;
    &-center {
        justify-content: center;
    }
    & span,
    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        min-width: 34px;
        font-family: 'Gilroy Regular';
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: 0.3s ease;
        &:not(:last-child) {margin-right: 3px;}
    }
    & span.active {
        border: 2px solid #A50000; 
    }
    & a:hover {
        border: 2px solid #A50000; 
    }
}

.info-text {
    & > div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @media (max-width: 992px) {
           display: block;
        }
        &:not(:last-child) {margin-bottom: 50px;}
        & img {
            width: calc(100% - 15px);
            margin-right: 30px;
            @media (max-width: 992px) {
                width: auto;
                max-width: 100%;
                margin: 0 auto 30px;
            }
        }
        & > div {
            width: calc(100% - 15px);
            @media (max-width: 992px) {
                width: 100%;
            }
        }
        & ul {
            display: inline-block;
            width: 100%;
            max-width: 155px;
            margin-right: 7px;
            margin-bottom: 0;
            @media (max-width: 500px) {
                max-width: 100%;
            }
        }
    }
    & p {
        font-family: 'Gilroy Regular';
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #000000;
        &:not(:last-child) {margin-bottom: 22px;}
    }
    & ul {
        margin: 0 0 35px;
        padding: 0;
        list-style: none;
        & li {
            position: relative;
            padding-left: 31px;
            font-family: 'Gilroy SemiBold';
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #000000;
            &::before {
                content: '';
                position: absolute;
                top: 12px;
                left: 10px;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #A50000;
            }
        }
    }
    & h1 {
        font-family: 'Gilroy Bold';
        font-weight: bold;
        font-size: 48px;
        line-height: 54px;  
        color: #000000;
        &:not(:last-child) {margin-bottom: 56px;}
    }
    & h2{
        font-family: 'Gilroy SemiBold';
        font-weight: 500;
        font-size: 44px;
        line-height: 52px;
        color: #000000;
        &:not(:last-child) {margin-bottom: 30px;}
    }
    & h3 {
        font-family: 'Gilroy SemiBold';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        &:not(:last-child) {margin-bottom: 30px;}
    }
    & h4 {
        font-family: 'Gilroy SemiBold';
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #000000;
        &:not(:last-child) {margin-bottom: 30px;}
    }
    & h5 {
        font-family: 'Gilroy SemiBold';
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #000000;
        &:not(:last-child) {margin-bottom: 20px;}
    }
    & b {
        font-family: 'Gilroy Bold'; 
        font-size: 22px;
        line-height: 22px;
    }
    & h6 {
        font-family: 'Gilroy SemiBold';
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #000000;
        &:not(:last-child) {margin-bottom: 30px;}
    }
}