html, body {
    height: 100%;
    &.hidden {overflow: hidden;}
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    &-content {flex: 1 0 auto;}
    & footer {flex: 0 0 auto;}
    &-page {
        background-image: url('../images/main-bg.png');
        background-repeat: no-repeat;
        background-position: top 142px left 16px;
        @media (max-width: 1100px) {
            background: none;
        }
    }
}

.title-el {
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        position: relative;
        margin-bottom: 60px;
        padding-left: 80px;
        font-family: 'Gilroy Medium';
        font-size: 44px;
        line-height: 52px;
        text-align: center;
        color: #353535;
        @media (max-width: 767px) {
            margin-bottom: 55px;
            padding-left: 60px;
            font-size: 38px;
            line-height: 45px;
        }
        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 3px);
            left: 0;
            display: block;
            width: 60px;
            height: 6px;
            background-color: #A50000;
            @media (max-width: 767px) {
                width: 40px;
            }
        }
    }
    &-center{
        @media (max-width: 767px) {
            & span {
                padding-left: 0;
                padding-top: 26px;
                &::before {
                    top: 0;
                    left: calc(50% - 20px);
                }
            }
        }
    }
}

.text-section {
    padding: 100px 0 100px;
    font-family: 'Gilroy Regular';
    font-size: 18px;
    line-height: 18px;
    color: #353535;
    @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
    }
    & p {
        &:not(:last-child) {margin-bottom: 18px;}
    }
    & b {
        display: block;
        margin-bottom: 10px;
        font-family: 'Gilroy Bold';
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    &-l {
        max-width: 1920px;
    }
    @media (max-width: 767px) {
        padding: 0 8px;
    }
}

.section-block {
    padding: 70px 0 45px;
    @media (max-width: 1100px) {
        padding: 40px 0;
    }
}


.tabs {
    &-block {
        & .tab-cnt {
            display: none;
            &.active {display: block;}
        }
    }
    &-section {
        display: flex;
        align-items: center;
        justify-content: center;
        &-wrap {
            margin-bottom: 60px;
        }
        & > a {
            padding: 0 15px;
            width: 100%;
            max-width: 220px;
            background-color: #ffffff;
            border: 1.5px solid #353535;
            & span {
                color: #000000;
                @media (max-width: 767px) {
                    max-height: 48px !important;
                }
            }
            &:hover {
                border: 1.5px solid #A50000;
                & span {
                    color: #ffffff;
                }
            }
            &.active {
                background-color: #A50000;
                border: 1.5px solid #A50000;
                & span {
                    color: #ffffff;
                }
            }
            &:not(:last-child) {
                margin-right: 30px; 
                @media (max-width: 767px) {
                    margin-right: 20px; 
                }
            }
        }
    }
}
