@font-face {
  font-family: 'Gilroy Regular';
  src: url("./fonts/gilroy/Gilroy-Regular.eot");
  src: url("./fonts/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype"), url("./fonts/gilroy/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy Medium';
  src: url("./fonts/gilroy/Gilroy-Medium.eot");
  src: url("./fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("./fonts/gilroy/Gilroy-Medium.ttf") format("truetype"), url("./fonts/gilroy/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy SemiBold';
  src: url("./fonts/gilroy/Gilroy-SemiBold.eot");
  src: url("./fonts/gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/gilroy/Gilroy-SemiBold.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-SemiBold.woff") format("woff"), url("./fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype"), url("./fonts/gilroy/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy Bold';
  src: url("./fonts/gilroy/Gilroy-Bold.eot");
  src: url("./fonts/gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Bold.woff") format("woff"), url("./fonts/gilroy/Gilroy-Bold.ttf") format("truetype"), url("./fonts/gilroy/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
strong,
abbr,
acronym,
blockquote,
q,
cite,
ins,
del,
dfn,
a,
div,
span,
pre,
address,
br,
b,
i,
sub,
sup,
big,
small,
tt,
table,
tr,
caption,
thead,
tbody,
tfoot,
col,
colgroup,
form,
input,
label,
textarea,
button,
fieldset,
legend,
select,
option,
dl,
dt,
dd,
code,
var,
samp,
img,
object,
param,
map,
area {
  padding: 0;
  margin: 0;
  border: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
figcaption,
header,
footer,
aside,
article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button],
input[type=submit],
button {
  cursor: pointer; }

button {
  border: 0; }

*:focus {
  outline: none; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: inherit; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word; }

*:focus {
  outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

a,
input,
textarea,
select {
  -webkit-appearance: none; }

html, body {
  height: 100%; }
  html.hidden, body.hidden {
    overflow: hidden; }

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .main-content {
    flex: 1 0 auto; }
  .main footer {
    flex: 0 0 auto; }

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.section-block {
  padding: 70px 0 45px; }
  @media (max-width: 1100px) {
    .section-block {
      padding: 40px 0; } }

/*# sourceMappingURL=maps/style.css.map */
